@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:wght@300&family=Merienda&display=swap');

html {
/* 
Set a base font size of 10px in the html for easier rem calculations 
Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px etc 
*/

font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  background-color:rgb(234, 236, 232);
  background-image: url('img/page-background.png');
  background-size: cover;
}

/*
div + div {margin: 15px 0px;}
*/

/*Dice section of the page*/
.dice-buttons, .roller-buttons {
  display: flex;
  align-items: center;
  justify-content: center;  
  /*background-color: rgb(73, 111, 139); Just for helping me lay out the page*/
  border-radius: 25px;
  }

.die-button {
  font-family: "Cormorant Garamond", Georgia, Times, serif;
  font-size: 2rem;
  padding: 25px;
  margin: 5px 10px;
  width: 100px;
  height: 100px;
  border: 0;  
  border-radius: 50%;
  background-color: rgb(158, 65, 76);
  box-shadow: 3px 3px 5px #343434;
  backdrop-filter: blur(0px);
}

.die-button:active {
  box-shadow: none;
  box-shadow: inset 2px 2px 5px #343434;
}

.button-and-label {
  display: inline-block;
  text-align: center; 
}

.die-button-label {
  display: block;
  font-family: Merienda, sans-serif;
  font-size: 1.8rem;
}

.turn-information {
  font-family: "Cormorant Garamond", Georgia, Times, serif;
  font-size: 3rem;
  text-align: center; 
}

#throw-button {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 75px;
  border-radius: 25px;

}

#title-header {
  font-family: Merienda, sans-serif;
  font-size: 4rem;
  color: rgb(158, 65, 76);
  text-align: center;

}

/*Starting visibility for button labels*/
label[for=earth-button] {
  visibility: hidden;
  }
label[for=water-button] {
  visibility: hidden;
  }
label[for=fire-button] {
  visibility: hidden;
  }
label[for=air-button] {
  visibility: hidden;
  }
label[for=moon-button] {
  visibility: hidden;
  }

/*Images for buttons*/
#earth-button{
  background: url('img/icon-l5r-earth.png') no-repeat; 
  background-position: center;
}
#water-button{
  background: url('img/icon-l5r-water.png') no-repeat
}
#fire-button{
  background: url('img/icon-l5r-fire.png') no-repeat;
}
#air-button{
  background: url('img/icon-l5r-air.png') no-repeat;
}
#moon-button{
  background: url('img/icon-l5r-void.png') no-repeat;
}