@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Nunito:wght@300&display=swap');

html {
/* 
Set a base font size of 10px in the html for easier rem calculations 
Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px etc 
*/

font-size: 10px;
}

body {
  font-family: "Nunito", sans;
  font-size: 1.6rem;
  background-color:#c7e4ff;
  background-image:
  radial-gradient(circle at 100% 150%, #c7e4ff 24%, white 24%, white 28%, #c7e4ff 28%, #c7e4ff 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #c7e4ff 24%, white 24%, white 28%, #c7e4ff 28%, #c7e4ff 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #c7e4ff 10%, #c7e4ff 23%, white 23%, white 30%, #c7e4ff 30%, #c7e4ff 43%, white 43%, white 50%, #c7e4ff 50%, #c7e4ff 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #c7e4ff 5%, #c7e4ff 15%, white 15%, white 20%, #c7e4ff 20%, #c7e4ff 29%, white 29%, white 34%, #c7e4ff 34%, #c7e4ff 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #c7e4ff 5%, #c7e4ff 15%, white 15%, white 20%, #c7e4ff 20%, #c7e4ff 29%, white 29%, white 34%, #c7e4ff 34%, #c7e4ff 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}

.dice-buttons {
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: darkgoldenrod;
  }

.die-button {
    padding: 32px;
    margin: 16px;
}

#title-header {
  font-family: Merienda, sans;
  font-size: 4rem;
  text-align: center;

}